table {
  border-collapse: collapse;
  border: solid 2px orange;
}
table th, table td {
  border: solid 1px orange;
  padding: 0px;
  width:3em;
  white-space: nowrap;
  /*実線 1px 黒*/
}
input[type=text] {
  width:90%;
  text-align: right;
}
img{
	border:1px black solid;
}
#url_box{
	text-align: left;
}
#url_area{
	padding:10px
	background-color: #ddd;
	overflow-wrap: break-word;
}
#zentai{
 padding:10px;
}
.theme-color{
 //background-color: #ccccbf;
 background-color: #eee;
}
.gray {
    background-color: #ddd;
}
.mienai{
	display: none;
}

.my-menu {
display: none;
position: fixed;
width: 200px;
background-color: #fff;
border: 1px solid #ccc;
box-shadow: 1px 1px 1px rgba(0,0,0,.2);
z-index: 1000;
}
.my-menu.show {
display: block;
}
.my-menu ul {
list-style: none;
padding: 10px 0;
}
.my-menu ul li {
padding: 4px 10px;
font-size: 14px;
color: #333;
}